<!DOCTYPE html>
<html lang="en">
<head>
    <title>first page</title>
    <style>
        #n
        {
            text-align: center;
            color: deeppink;
            background:linear-gradient(45deg,yellow,brown,green);
        }
        #v
        {
            text-align: right;
            color: darkorange;
            background: linear-gradient(180deg,red,black);
        }
        #l
        {
            
            color: gold;
            background: radial-gradient(circle,brown,violet,black,red,green,brown);
        }
    </style>
</head>
<body>
    <h1 id="n">Devotee Raavan</h1>
    <h1 id="v">Iam A Badperson Don't Trust me</h1>
    <h1 id="l">Naveen Tiru Dev</h1>
</body>
</html>